.PlantsTile{
    position: absolute;
    top: 163px;
    left: 5vw;
    right: 5vw;
    height: 800px;
    background-color: #FAE7C7;
    border-radius: 12px;
    box-shadow: 1px 1px 2px 2px grey; 
}

.PlantsTitleCaption{
    position: absolute;
    top: 5vh;
    left: 7vw;
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
    color: #C59A6F;
    
}

.PlantsInnerTile{
    position: absolute;
    top: 285px;
    left: 8vw;
    right: 8vw;
    
    height: 497px;
    background-color: #FFFFFF;
    border-radius: 60px;
   
}

.InnerTileText{
    font-size: 1.3rem;
    font-family: 'Jua', sans-serif;
    color: #C59A6F;
}
.PlantsBadgeCaption{

}

.PlantsWaterCaption{

}

.PlantsAirCaption{

}

.PlantsSunCaption{

}

.PlantsPlbCaption{


}