.TopbarBackground{
    background-color: #DAEC1E;
    position: absolute;
    height: 50px;
    width: 100%;

}
.TopBarText{
    color: #62412B;
    font-size: 12px;
}
.TopBarHome{
    position: absolute;
    left: 26.1vw;
    top: 5px;
}

.TopBarFindPlants{
    position: absolute;
    left: 36.45vw;
    top: 5px;
}

.TopBarManage{
    position: absolute;
    
    top: 5px;
    left: 46.23vw;
}


.LOGO{
    position: absolute;
    top: 4px;
    left: 33px;
}
img{
    width: 100%;
    height: 100%;
}
